*{
  background-image: url(GroceryList.jpg);
}

.App {
  text-align: center;
  color: darkblue;
  font-size: 20px;
}

.App > h1{
  margin-bottom: 40px;
}

.inputItem > input{
  border-radius: 10px;
  font-size: 20px;
  color: darkblue;
  border: 2px solid darkblue;
  padding: 10px 20px;
}

.removeItem > p{
  font-size: 30px;
}

.inputItem > input + input{
  margin-left: 20px;
}

.removeMe{
  margin-left: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: darkblue;
  border: 2px solid darkblue;
  padding: 10px 20px;
}